:root{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* :root {

  --adm-color-primary: rgb(7, 233, 101);
}

.purple{

    --adm-color-primary: #a72b2b;
} */